<div class='modal' tabindex='-1' role='dialog' id='global_modal'>
  <div class='modal-dialog py-5' role='document'>

    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='modal_title'></h5>
      </div>

      <div class='modal-body' id='modal_body'></div>

      <div class='modal-footer'>
        <button type='button' class='btn bg-wine text-white' data-dismiss='modal'>Fechar</button>
      </div>
    </div>

  </div>
</div>
