<div class='row no-gutters pb-5'>

  <div class='col-12 text-center mt-4'>
    <%= image_tag 'logo.png', class: 'img-logo-page' %>
  </div>

  <div class='col-6 mt-5'>
    <div class='row no-gutters'>
      <div class='col-12'>
        <div class='dv-faixa-page pt-2 pb-1 pr-3'>
          <h4 class='text-right text-white m-0'>CONTATOS</h4>
        </div>
      </div>
    </div>

    <div class='row no-gutters mt-4 pl-4'>
      <div class='col-6 text-center'>
        <h4 class='text-weight-bold'><i class='fa fa-phone pr-2'></i>0800 111 222</h4>
      </div>

      <div class='col-6 text-center'>
        <h4 class='text-weight-bold'><i class='fa fa-envelope-o pr-2'></i>contatos@nectar.com.br</h4>
      </div>
    </div>

    <div class='row no-gutters mt-4 pl-5'>
      <div class='col-6 pl-4'>
        <div class='form-group'>
          <label for='email'>Email</label>
          <input type='email' class='form-control' id='email' placeholder='Digite o email'>
        </div>
      </div>

      <div class='col-6 pl-4'>
        <div class='form-group'>
          <label for='email'>Assunto</label>
          <input type='text' class='form-control' id='assunto' placeholder='Digite o assunto'>
        </div>
      </div>

      <div class='col-12 pl-4'>
        <div class='form-group'>
          <label for='email'>Mensagem</label>
          <textarea class='form-control' id='mensagem' rows='7'></textarea>
        </div>
      </div>

      <div class='col-12'>
        <button class='btn bg-wine text-white pull-right'>ENVIAR</button>
      </div>

    </div>
  </div>

  <div class='col-4 offset-2'>
    <div class='row no-gutters'>

      <div class='col-12 mt-5'>
        <div class='dv-faixa-page pt-2 pb-1 pl-3 pull-right' style='width:100%'>
          <h4 class='text-white m-0'>REDES SOCIAIS</h4>
        </div>
      </div>

      <div class='col-12 mt-3'>
        <div class='row no-gutters justify-content-center'>
          <div class='col-6'>
            <div class='text-center'>
              <%= render '/shared/social_icons' %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


</div>
