<div class='row no-gutters pb-5'>

  <div class='col-12 text-center mt-4'>
    <img class='img-logo-page' src='/assets/logo.png'>
  </div>

  <div class='col-12 text-right mt-5'>
    <div class='dv-faixa-page pt-2 pb-1 pr-3'>
      <h4 class='text-white m-0'>EMPRESA</h4>
    </div>
  </div>

  <div class='col-7 offset-1 mt-3'>
    <div class='row no-gutters'>
      <div class='col-12 p-0 mt-4'>
        <h5 class='text-justify'>A ideia da criação da empresa surgiu em 1998, com intuito de agregar uma nova linha de produtos em outra empresa sua, que processava e comercializava dezenas de produtos da linha de cafés. A inserção de uma nova linha dentro do segmento de produtos matinais surgiu com o raciocínio: “Onde se entrega o café, poderiam se entregar outros produtos”. O desafio, então, passou a ser a avaliação de qual seria esse novo produto.</h5>
      </div>

      <div class='col-12 p-0 mt-4'>
        <h5 class='text-justify'>Em viagens de negócios à Argentina, o empresário João Ricardo observou que o mercado de sucos naturais apresentava grande evolução, identificou a oportunidade de extensão, acrescentando a linha de sucos prontos para consumo.</h5>
      </div>

      <div class='col-12 p-0 mt-4'>
        <h5 class='text-justify'>Antes mesmo de incluir a nova linha de produtos, a empresa de café foi vendida juntamente com toda sua estrutura de distribuição. A nova estrutura e o volume de faturamento ficou muito maior do que da empresa de cafés e todos os esforços foram direcionados para a nova empresa NÉCTAR.</h5>
      </div>

      <div class='col-12 p-0 mt-4'>
        <h5 class='text-justify'>Hoje a Néctar atua em todo território nacional, com capacidade produtiva de 7 milhões de litros de sucos por mês, a meta de atingir o faturamento de 600 mil de litros de sucos até o sexto mês foi cumprida já no terceiro mês, e o objetivo de conquistar a segunda colocação no ranking em dois ano foi alcançado e com apenas 18 meses de operação a Néctar já era a segunda marca do mercado.</h5>
      </div>

      <div class='col-12 p-0 mt-4'>
        <h5 class='text-justify'>Seu papel institucional se deu pela definição de seus valores e de sua missão: saudável fé no futuro; confiança, franqueza e amizade como base das relações; atenção as exigências de natureza competitiva do ambiente globalizado; consolidar as operações e buscar com confiança e com parceria a liderança no mercado; agradecer sempre a todos os colaboradores, parceiros e fornecedores, pois juntos buscam a excelência dos resultados.</h5>
      </div>
    </div>
  </div>

  <div class='col-4 px-5'>
    <img class='img-page-01' src='/assets/fruit-01.png'>
  </div>

</div>
