<div class='row no-gutters'>

  <div class='col-12 text-center'>
    <img class='img-logo-home' src='/assets/logo-slogan.png'>
  </div>

  <div class='bg-wine dv-campanha text-white' onclick='exibirCampanha()'>
    <h3 class='text-center'>Veja a nova</h3>
    <h3 class='text-center'>Campanha</h3>
  </div>

</div>
