<div class='row no-gutters pb-5'>

  <div class='col-12 mt-4 text-center'>
    <img class='text-center img-logo-page' src='/assets/logo.png'>
  </div>

  <div class='col-12 mt-5'>
    <div class='dv-faixa-page pt-2 pb-1 pr-3'>
      <h4 class='text-right text-white m-0'>PARCEIROS</h4>
    </div>
  </div>

  <div class='col-12 mt-5 text-center'>
    <h4 class='mt-3'>Três maiores redes de hipermercados:</h4>

    <div class='row no-gutters pt-3 justify-content-center mt-5'>
      <div class='col-3'>
        <img class='img-parceiros-page' src='/assets/carrefour-logo.png'>
      </div>

      <div class='col-3 mt-5'>
        <img class='img-parceiros-page' src='/assets/walmart-logo.png'>
      </div>

      <div class='col-3'>
        <img class='img-parceiros-page' src='/assets/pao-de-acucar-logo.jpg'>
      </div>
    </div>
  </div>

  <div class='col-12 mt-5 text-center'>
    <h4 class='mt-5'>Redes de supermercados com destaque regional em MG:</h4>

    <div class='row no-gutters pt-3 justify-content-center mt-5'>
      <div class='col-4'>
        <img class='img-parceiros-page' src='/assets/bretas-logo.jpg'>
      </div>

      <div class='col-4'>
        <img class='img-parceiros-page' src='/assets/smart-logo.jpg'>
      </div>

    </div>
  </div>

</div>
