<div class='row no-gutters pb-5'>

  <div class='col-12 text-center mt-4'>
    <img class='text-center img-logo-page' src='/assets/logo.png'>
  </div>

  <div class='col-12 mt-5'>
    <div class='dv-faixa-page pt-2 pb-1 pr-3'>
      <h4 class='text-right text-white m-0'>PRODUTOS</h4>
    </div>
  </div>

  <div class='col-12 mt-5'>
    <h4 class='text-center'>Nossos principais sabores:</h4>

    <div class='row no-gutters justify-content-center mt-5'>

      <div class='col-3'>
        <div class='row no-gutters'>
          <div class='col-6 pr-4 text-right'>
            <h5 class='mt-5'><span class='bg-wine text-white py-1 px-2'>Laranja</span></h5>
          </div>

          <div class='col-6 pl-4'>
            <img class='img-produtos-suco' src='/assets/suco-garrafa-laranja-01.png'>
          </div>
        </div>
      </div>

      <div class='col-3'>
        <div class='row no-gutters'>
          <div class='col-6 pr-4 text-right'>
            <h5 class='mt-5'><span class='bg-wine text-white py-1 px-2'>Uva</span></h5>
            <h5 class='mt-4'><span class='bg-wine text-white py-1 px-2'>Uva Light</span></h5>
          </div>

          <div class='col-6 pl-4'>
            <img class='img-produtos-suco' src='/assets/suco-garrafa-uva-01.png'>
          </div>
        </div>
      </div>

      <div class='col-3'>
        <div class='row no-gutters'>
          <div class='col-6 pr-4 text-right'>
            <h5 class='mt-5'><span class='bg-wine text-white py-1 px-2'>Manga</span></h5>
            <h5 class='mt-4'><span class='bg-wine text-white py-1 px-2'>Manga Light</span></h5>

          </div>

          <div class='col-6 pl-4'>
            <img class='img-produtos-suco' src='/assets/suco-garrafa-manga-01.png'>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class='col-12 mt-5'>
    <h4 class='text-center'>Mais sabores:</h4>

    <div class='row no-gutters justify-content-center'>
      <div class='col-2 mt-4 text-center'>
        <img class='img-produtos-fruit' src='/assets/fruit-pessego-01.png'>

        <h6 class='mt-3'><span class='bg-wine text-white py-1 px-2'>Pêssego</span></h6>
        <h6 class='mt-3'><span class='bg-wine text-white py-1 px-2'>Pêssego Light</span></h6>
      </div>

      <div class='col-2 mt-4 text-center'>
        <img class='img-produtos-fruit' src='/assets/fruit-goiaba-01.png'>

        <h6 class='mt-3'><span class='bg-wine text-white py-1 px-2'>Goiaba</span></h6>
        <h6 class='mt-3'><span class='bg-wine text-white py-1 px-2'>Goiaba Light</span></h6>
      </div>

      <div class='col-2 mt-4 text-center'>
        <img class='img-produtos-fruit' src='/assets/fruit-maca-01.png'>

        <h6 class='mt-3'><span class='bg-wine text-white py-1 px-2'>Maçã</span></h6>
      </div>

      <div class='col-2 mt-4 text-center'>
        <img class='img-produtos-fruit' src='/assets/fruit-maracuja-01.png'>

        <h6 class='mt-3'><span class='bg-wine text-white py-1 px-2'>Maracujá</span></h6>
      </div>

      <div class='col-2 mt-4 text-center'>
        <img class='img-produtos-fruit' src='/assets/fruit-caju-01.png'>

        <h6 class='mt-3'><span class='bg-wine text-white py-1 px-2'>Cajú</span></h6>
      </div>

    </div>
  </div>

</div>

<div class='row no-gutters pb-5 mt-5'>

  <div class='col-12'>
    <div class='dv-faixa-page pt-2 pb-1 pr-3'>
      <h4 class='text-right text-white m-0'>EMBALAGENS</h4>
    </div>
  </div>

  <div class='col-12 mt-5'>
    <h4 class='text-center'>Nossos sucos são envasados em três tipos de embalagens:</h4>

    <div class='row no-gutters justify-content-center mt-5'>

      <div class='col-3 mt-4 text-center'>
        <img class='img-embalagem' src='/assets/embalagem-tetrapack-01.png'>

        <h6 class='mt-3'><span class='bg-wine text-white py-1 px-2'>TETRA PACK 1L</span></h6>
        <h6 class='mt-3'><span class='bg-wine text-white py-1 px-2'>TETRA PACK 250ml</span></h6>
      </div>

      <div class='col-3 mt-4 text-center'>
        <img class='img-embalagem' src='/assets/suco-garrafa-uva-01.png'>

        <h6 class='mt-3'><span class='bg-wine text-white py-1 px-2'>VIDRO 250ml</span></h6>
      </div>

      <div class='col-3 mt-4 text-center'>
        <img class='img-embalagem' src='/assets/embalagem-lata-01.png'>

        <h6 class='mt-3'><span class='bg-wine text-white py-1 px-2'>LATA 355ml</span></h6>
      </div>

    </div>
  </div>

</div>
