<div class='row no-gutters pb-5'>

  <div class='col-12 text-center mt-4'>
    <%= image_tag 'logo.png', class: 'img-logo-page' %>
  </div>

  <div class='col-12 text-right mt-5'>
    <div class='dv-faixa-page pt-2 pb-1 pr-3'>
      <h4 class='text-white m-0'>TRANSPARÊNCIA</h4>
    </div>
  </div>

  <div class='col-12 mt-4 text-center'>
    <%= image_tag 'transparencia-01.png' %>
  </div>

</div>
